<h1>All the available posts</h1>
<ul class="posts">
  <% @posts.each do |post| %>
	  <li>
			Title: <%= post.title %><br>
			<% if signed_in? %>
			  <% user = User.find(post.user_id) %>
				Author: <%= user.name %><br>
			<% end %>
			Post: <%= post.body %>
		</li><br>
	<% end %>
</ul>
